[Unit]
Description=Fix overlay metacopy bug in kernel

[Service]
Type=oneshot
ExecStart=/opt/overlay_metacopy_fix.sh
StandardOutput=journal

[Install]
WantedBy=default.target
